@media (min-width: 1025px) {
.btn-burger {
    display: none;
}

.advantages {
    .swiper-wrapper {
        flex-wrap: wrap;
        gap: 11px 20px;
        justify-content: space-between;
    }
    .swiper-slide {
        max-width: 263px;
    }
}
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: none;
}
.slider-template {
    padding-left: 92px;
    padding-right: 92px;
    margin-top: 13px;
    margin-left: 8px;
   

    .swiper-slide {
        padding: 0;
        // margin-right: 34px;
    }

    &::after,
    &::before  {
        content: "";
        width: 92px;
        height: 100%;
        position: absolute;
        right: -15px;
        top: 0;
        background-color: $bg-primary;
        z-index: 2;
    }
    &::before {
        right: auto;
        left: -15px;
    }

}

}







