@media screen and (max-width: 767px) {
    .form-row {
        flex-direction: column;
        gap: 0;
}

.calculation-form {
    padding: 52px 30px 34px;
    height: 849px;
    .btn-lg {
        width: 100%;
        .icon {
        margin: 0 -14px 0 auto;
        width: 27px;
        height: 27px;
        transition: 0.3s;
        }
    
    }
    
}

.control-box:first-child {
        margin-top: 10px;
    }

    .control-box {
        margin-bottom: 14px;
    }




}
