@media screen and (max-width: 1024px) {
    section {
        padding: 55px 0 60px;
      
        &.accent {
            &:before {
                width: 100%;
                border-radius: 0;  
                margin-top: -82px;  
                margin-bottom: 80px;
                top: -20px;
                bottom: -7px;
            }
        }
    
  
    .container {
        padding: 0 20px;
        margin-bottom: 72px;
    
    }
}
  header {
    .container {
        padding-top: 17px;
        padding-bottom: 8px;
        background-color: #282b38;
        text-align: center;

    }
    .logo {
        max-width: 126px;
    }
  }
    .mobile-container {
       display: none;
       position: absolute;
       flex-direction: column;
       background-color: $bg-secondary;
       z-index: 1;
       left: 0;
       right: 0;
       top: 69px;
       transition: .3s;
       transform: translate(-100% 0);
       padding: 37px 40px 60px;
       box-shadow: 14px 22px 40px #1e234247;

       &.show {
        transform: translate(0, 0);
       }

       nav {
        flex-direction: column;
        gap: 0;
        margin-bottom: 30px;
        margin-top: -4px;
        margin-left: 38px;
        a {
            font-size: 24px;
            padding: 20px 24px;
        }
       }
       .btn {
        padding: 22px 21px;
        justify-content: center;
        max-width: 295px;
        width: 100%;
        margin: 0;
        font-size: 16px;
        letter-spacing: 0px;
            }

    }
    .hamburger {
        display: block;
        margin-left: auto;
    }
    body.overflow-hidden:before  {
        background-color: transparent;
    }

    .banner.container-xxl {
        margin-left: 5px;
        margin-bottom: 31px;
    }
.banner {
        padding: 0;
    .container {
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-top: 12px;
    }

   &-slider {
        height: calc(100vh - 70px);
        border-radius: 0;
    }
    .swiper-slide {
       border-radius: 0;
       padding: 0 20px;
       text-align: center;
       background-size: cover;
       background-position: center;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;  
        z-index: -1;
        background-color: #04051199;
     }
    h1 {
        font-size: 32px;
    }
    h5 {
        font-size: 16px;
        padding: 0 12px;
        line-height: 1.4;
        margin-bottom: 18px;
    }
   }   
  }
  .calculation {
    margin-bottom: 30px;
  }
    .calculation-form {
       margin: 0 auto;
   }

   .calculation-decoration {
       display: none;
   }

   .template-title{
       margin-bottom: 20px;
       margin-top: -29px;
    
       h2 {
      font-size: 24px;
       }
     &.half-section {
        &:after {
            display: block;
         }
       text-align: center;
       h2 {
       &:after {
        display: none;
     }
    }

   }
}

.template-title.case {
    padding-right: 0;
    padding-bottom: 45px;
    h2{
        margin-top: -101px;
        margin-bottom: -25px;
        font-size: 24px;
    }   
    
    h3 {
        font-size: 16px;
        font-weight: 400;
    }
    &::after {
        margin-left: 0;
        margin-bottom: -34px;
    }
}

.advantage {
    max-width: 263px;
    width: 100%;
    text-align: center;
    margin: 30px 0 -97px 0;
}

.slider-template {
    padding-left: 0;
    padding-right: 0;
    max-width: 335px;
  }
.card {
    width: 335px;
    padding: 0 23px 33px;
    .img-box {
        margin: 0 -23px 27px;
    }

   .btn-row {
     gap: 12px;

    .btn {
        padding: 13px 8px;
      }
     }
    }


}