.calculation {
    margin-bottom: 30px;
    .container {
    position: relative;
  
    }
}
.calculation-form {
     padding: 49px 50px 62px;
     background: $bg-secondary;
     border-radius: 20px;
     max-width: 626px;
     width: 100%;
     height: 600px;
     margin-left: 8px;
}
.form-row {
    display: flex;
    gap: 30px;
}

.form-column {
    width: 100%;
  
}

.input-box {
    margin: 0 0 17px;
}

.control-box {
    margin-top: 13px;
    margin-bottom: 0px;
    &:first-child {
        margin-top: 23px;
    }
   label {
    font-size: 15px;
    text-align: center;
   }
}
[type="file"] {
    display: none;
    + label {
        font-size: 15px;
        border: 1px dashed rgba(255, 255, 255, 0.26);
        width: 100%;
        height: 43px;
        text-align: center;
        justify-content: center;
        padding: 14px;
        line-height: 1;
        margin-bottom: 12px;
        cursor: pointer;
        border-radius: 10px;
        margin-top: 25px;
        margin-bottom: 2px;
        transition: 0.3s;
        &:hover {
            border-color: $color-secondary;
            color: $color-secondary;
           
        }
    }
}
.calculator .btn {
    padding: 0px 32px;
    height: 66px;
    width: 253px;
    margin-bottom: 2px;
  } 
  
  .btn .icon {
   color: #363A4D;
}
.file-name {
    font-size: 15px;
    line-height: 1;
    margin: 2px 0 2px 0;
}
.calculation-decoration {
    position: absolute;
    left: 622px;
    bottom: -110px;
    width: 29.167vw;
    min-width: 370px;
    max-width: 563px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}