.company {
    .container {
    position: relative;
    max-width: 1109px;
    max-height: 581px;
    margin-right: 428px;
   
    
   }

    .info {
        font-weight: 300;
        font-size: 18px;
        max-width: 555px;
        margin-top: 12px;
    }
    
}

