.company {
    .container {
    position: relative;
    max-width: 1156px;
    max-height: 581px;
     
   }

    .info {
        font-weight: 300;
        font-size: 18px;
        max-width: 555px;
        margin-top: 12px;
    }
    
}

