header {
	.container {
	   display: flex;
	   padding-top: 25px;
	   padding-bottom: 39px;
	  }
	  .logo {
		max-width: 172px;
		width: 100%;
	  }
  }
	.btn {
		padding: 13px 20px;
		font-weight: 600;
		color: #fff;
		font-size: 15px;
		line-height: 21.9px;
	
	}


.mobile-container {
	display: flex;
	width: 100%;
	
	nav {
		display: flex;
		align-items: center;
		gap: 45px;
		margin: 5px auto 0;

		a {
			font-weight: 400;
			color: #fff;
			font-size: 16px;
			line-height: 23.36px;
			text-decoration: none;
	

            &:hover {
	           color: $color-primary;
           }
		}
	 }

    &.show {
	    display: flex;
     }

}

.btn-burger {
	 margin: 7px 15px 0 auto;
     position: relative;
	 border: none;
	 width: 27px;
	 height: 25px;
	 background-color: transparent;
	 border-top: 3px solid #fff;
	 transition: .3s;
	 

    &:before,
    &:after {
	background-color: #fff;
	height: 2px;
	width: 27px;
	display: inline-block;
    }
    &:before,
    &:after {
	content: "";
	position: absolute;
	left: 0;
	top: 9px;
    }
    &:after {
	top: 20px;
    	}
    &.active {
		border-color: transparent;
		&:before {
			transform: rotate(45deg);
			left: 2px;
		}
		&:after {
			transform: rotate(-45deg);
			top: 9px;
			left: 1px;
		}
	}
}




// header{
// 	&:hover {
// 		background-color: red;
// 	}
// 	&::before {
// 		content: "";
// 	}
// 	&:nth-child(3) {

// 	}
// }