section.services.accent:before {
        bottom: 0;
        margin-left: 8px;
}
.template-title.case-2 {
    h2 {
        padding-left: 11px;
    }
   &::after {
    left: 665px;
    bottom: 38px;
   }
}
section.services.accent {
.slider-template {
    margin-top: 20px;
    .card .card-title {   
    margin-bottom: -15px;
    margin-left: 11px;
    h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 27.39px;
    margin-bottom: 20px;
    }
    }
}
}
    p.card-description {
        margin-top: 30px;
        margin-bottom:-8px;
        font-weight: 400;
        font-size: 15px;
        line-height: 18.68px;
    }   
    

.services .card .btn-row {
    margin-top: initial;
    padding-top: 25px;
    .btn {
        margin-left: 8px;
        margin-bottom: 7px;
        padding-right: 14px;
    }
    }
