.accent {
    .slider-template {
        &::after {
            background-color: bg-secondary;
        }
    }
}


.slider-template {
    padding-left: 92px;
    padding-right: 92px;
    margin-top: 13px;
    .swiper-slide {
        padding: 0;
    }

    &::after,
    &::before  {
        content: "";
        width: 92px;
        height: 100%;
        position: absolute;
        right: -15px;
        top: 0;
        background-color: $bg-primary;
        z-index: 2;
    }
    &::before {
        right: auto;
        left: -15px;
    }

   

}

.template-title.case-1{
    padding-right: -3px;
    h2{
        margin-top: -23px;
        margin-right: -14px;
    }
    &::after {
        margin-bottom: 6px;
        margin-left: 9px;
    }
    
}
.card {
    min-width: 360px;
    background: $bg-secondary;
    color: #ffff;
    margin-right: 34px;
    // padding: 0 -1px 11px;
    // margin: 18px -71px 0px -64px;
    border-radius: 20px;
    text-align: center;
}

    .img-box {
        margin: -3px -18px 26px -19px;
    }
    .card-title {
        margin-bottom: 11px;
        font-size: 22px;
    }
    .options-list {
        display: flex;
        gap: 27px;
        margin-bottom: 12px;
        justify-content: center;
    .option {
        img {
        margin-right: 10px;
         }
       }
    }
    .price {
        margin-bottom: 5px;
        margin-left: 12px;
    }
        span {
       font-size: 22px;
       line-height: 125%;
       color: #a3a3a3;
       margin-left: -6px;
         &:last-child {
        color: #ffff;
         }
       }

       b {
        font-size: 45px;
        font-weight: 700;
       }
  
.btn-row {
    display: flex;
    gap: 3px;
    margin-left: 12px;
    margin-top: 5px;
    margin-right: 8px;
    margin-bottom: 17px;
    .btn {
       width: 50%;
       justify-content: center;
       padding: 13px;
       margin-left: 5px;   
       margin-right: 7px;
       margin-bottom: 7px;
    }
}

.slider-template {
.swiper-button-prev, 
.swiper-button-next {
    position: absolute;
  }
.swiper-button-prev {
    left: var(--swiper-navigation-sides-offset, -31px);
    right: auto;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, -49px);
}

}



