<footer>
<div class="position-item"></div>
   <div class="container">
     <div class="container-info-1">
           <a href="index.html" class="logo">
              <img src="assets/img/logo.svg" class="img-fluid" alt="logo">
           </a>
            <p>8(800)600-18-69</p>
            <p>info@cargoasia.info</p>
            <p>Адрес в Китае:</p>
            <p>浙江省金华市义乌市后宅街道洪华小区5</p>
            <p>栋一单元一楼RT789库房 高建军 电话</p>
            <p>15966660379</p>
            <img src="assets/img/social.svg" alt="social">
      </div>
      
           
            <div class="container-info-2">
               <h4>Грузоперевозки</h4>
               <p>Цены и сроки</p>
                <p>Услуги</p>
                <p>О компании</p>
                <p>Контакты</p>
                <p>Оформить груз</p>
            </div>
            <div class="container-info-3">
               <h4>Услуги</h4>
               <p>Выкуп товара</p>
               <p>Страховка груза</p>
               <p>Аренда склада</p>
               <p>Перевод денежных средств</p>
            </div>
            <div class="container-info-4">
               <h4>Информация</h4>
               <p>Отзывы</p>
               <p>Требования к грузу</p>
               <p>Договор-оферта</p>
               <p>Как заключить договор</p>
               <p>Способы оплаты услуг</p>
               <p>Документы</p>
               <p>Статьи</p>
            </div>
   </div> 
<a href="markap.html">markap</a>
</footer>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/swiper-bundle.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>